body{
	background-color: #17184b !important;
	// background-color: #0f2350 !important;
	.box-left {
	float: left;
	margin:15px;
    }
    .box-right {
	float: right;
	margin:15px;
    }

	.boxContainer {
		overflow: hidden;
	}



	.list-group{
		// button{
		// 	text-align: right;
		// }
		.list-group-item-padding{
			padding-bottom: 80px;
		}
		.list-group-item{
			h4{
				width: 100%;
			}
			h6{
				text-align: right;
			}
		}
	}
	.container{
	}
	.main-content{
		// background-image: url(2.jpg);
	}
}


.list-text-color{
	color:#fff !important;
	margin-bottom: 15px;
}

#jquery-ui-effect {
    width: 400px;
    padding: 50px 15px;
    font-size: 15px;
    background: khaki;
}